#   +----------------------------------------------------------------------------------------+
#   | Please note that this is an example .env file.                                         |
#   | Copy it to a file names ".env" and fill in the values before running the application.  |
#   | The ".env" FILE SHOULD NOT BE COMMITTED TO VERSION CONTROL.                            |
#   | WITHOUT A PROPER .env FILE, THE APPLICATION WILL NOT RUN.                              |
#   +----------------------------------------------------------------------------------------+


# CORS_ORIGIN: A comma-separated list for CORS (e.g., http://localhost:5173,http://localhost:8081)
CORS_ORIGIN=

# MONGO_URL: The connection string for your MongoDB database
MONGO_URL=

# JWT_SECRET: A secret key used for signing JWT tokens
JWT_SECRET=

# PASSWORD_KEY: A 32-character key used for encrypting passwords
PASSWORD_KEY=

# GOOGLE_CLIENT_IDS: Google client IDs for authentication
GOOGLE_CLIENT_IDS=

# Email settings for email OTP
SMTP_EMAIL=
BREVO_API_KEY=

# Tavily and Mistral API keys for AI services
TAVILY_API_KEY=
MISTRAL_API_KEY=
