# +-------------------------------------------------------------------+
# |  To use start this project, create a .env file                    |
# |  Then copy and paste the following content into the .env          |
# |  file and replace the placeholder values with your actual value   |
# +-------------------------------------------------------------------+

# CORS_ORIGIN: A comma-separated list of allowed origins for CORS (e.g., http://localhost:5173,http://localhost:8081)
CORS_ORIGIN=

# MONGO_URL: The connection string for your MongoDB database
MONGO_URL=

# JWT_SECRET: A secret key used for signing JWT tokens
JWT_SECRET=

# PASSWORD_KEY: A 32-character key used for encrypting passwords
PASSWORD_KEY=

# GOOGLE_CLIENT_IDS: Google client IDs for authentication
GOOGLE_CLIENT_IDS=
